services:
  - type: web
    name: go2market-backend
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app 
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce-db
          property: connectionString
      - key: FLASK_ENV
        value: production

databases:
  - name: ecommerce-db
    plan: free # Use 'standard' for production data persistence